.footer {
  background-color: #FAFAFC;
  padding: 50px 0 20px;

  p.copyright {
    font-size: 18px;
    line-height: 26px;
    color: #0B0B0B;
    margin-bottom: 6px;
  }

  a {
    margin-bottom: 25px;
    display: inline-block;

    &.mail {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #48DAA2;
    }
  }
}