@keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}

.footer {
  padding: 31px 0 30px;
  background-color: #f2f2f2;

  @media (max-width: 767px) {
    padding: 50px 0 20px;
  }

  &__flexbox {
    display: flex;
    padding: 0 0 67px;
    font-size: 14px;
    line-height: 1.71;
    border-bottom: 1px solid rgba(50, 50, 50, .06);

    @media (max-width: 767px) {
      flex-direction: column;
      flex: 1;
      padding-bottom: 0 !important;
      margin-bottom: 15px;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    flex: 6;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.31;
    color: #323232;

    @media (max-width: 767px) {
      flex-direction: column;
      flex-wrap: wrap;

      .toggle-menu {
        height: 0;
        overflow: hidden;
      }

      .sub-menu {
        padding-left: 0;
        overflow: hidden;
        display: none;
      }

      .has-dropdown {
        padding: 0;
        width: 100%;
        border-top: 1px solid hsla(0, 0%, 59%, .15);

        &:last-child {
          border-bottom: 1px solid hsla(0, 0%, 59%, .15);
        }

        > a {
          line-height: 2.86 !important;
          margin-bottom: 0 !important;
          width: 100%;
          pointer-events: none;

          &::before {
            content: "";
            background-image: url('../img/arrow-right.svg');
            background-size: contain;
            position: absolute;
            right: 0;
            top: 50%;
            height: 14px;
            width: 7px;
            transform: translateY(-50%);
            transform-origin: left;
            transition: transform .3s ease-in-out;
          }
        }
      }
    }

    .has-dropdown {
      flex: 1 1 auto;
      padding-right: 15px;
      @media (min-width: 1200px) {
        &:nth-child(1) {
          flex: 0 0 270px;
        }

        &:nth-child(2) {
          flex: 0 0 265px;
        }

        &:nth-child(3) {
          flex: 0 0 234px;
        }

        &:nth-child(4) {
          flex: 0 0 148px;
        }
      }

      .sub-menu {
        &.show {
          display: block;
        }

        li {
          line-height: 30px;
        }
      }

      &.arrow-down {
        > a {
          &::before {
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }

      > a {
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        font-size: 14px;
        line-height: 1;
        color: #323232;
      }
    }

    .sub-menu {
      a {
        color: #323232;
        font-weight: 400;

        &:hover {
          color: #1476f2;
        }
      }
    }
  }

  &__email {
    position: relative;
    color: #323232;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: #005ed7;

      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #1476f2;
      transition: transform .45s cubic-bezier(.835, -.005, .06, 1), -webkit-transform .45s cubic-bezier(.835, -.005, .06, 1);
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  &__about {
    flex: 1;
    padding: 0 20px;

    @media (max-width: 767px) {
      padding: 0;
      margin-top: 35px;
    }
  }

  &__office {
    .office1 {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      font-size: 10px;
      line-height: 1;
      color: #323232;
    }
  }

  &__copyright {
    font-size: 14px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;

    @media (max-width: 767px) {
      margin-top: 0 !important;
      padding-right: 0 !important;
      flex-direction: column;
      align-items: center;
    }
  }

  &__year {
    font-size: inherit;
    font-weight: 400;
    color: #323232;
    opacity: .5;
  }

  &__privacy {
    color: #323232;
    font-weight: 300;
    border-left: 1px solid rgba(50,50,50,.5);
    padding-left: 15px;
    margin-left: 10px;

    @media (max-width: 767px) {
      border-left: none;
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    &__copy-container {
      margin-bottom: 15px;
      flex-direction: column;
      display: flex;
      align-items: center;

      * {
        padding-bottom: 10px;
      }
    }
  }

  &__heading {
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    font-size: 14px;
    line-height: 1;
    color: #323232 !important;
  }

  &__phone {
    font-size: 14px;
    font-weight: 600;
    color: #323232;
    padding: 8px 0 0;
  }

  &__address {
    font-size: 14px;
    font-weight: 400;
    color: #323232;
    padding-bottom: 10px;
    line-height: 22px;

    a.footer__link {
      padding: 0;
      justify-content: left;
      width: auto;
      display: inline-flex;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        i {
          margin-left: 10px;
        }
      }

      i {
        margin-left: 0;
        transition: margin-left .3s ease;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 12px;
          background-image: url(../img/Shape.svg);
          right: -12px;
          top: 5px;
        }
      }
    }
  }
}

.social-box__list, .social-box__list .social-box__icon {
  display: flex;
}

.social-box__list {
  justify-content: flex-start;

  svg {
    fill: #fff;
    margin: 0 auto;
  }

  .social-box__icon {
    align-items: center;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(50, 50, 50, .2);

    &:hover {
      animation: icon-zoom .3s linear 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.social-box {
  .linkedin {
    svg {
      width: 15px;
      height: 15px;
    }

    &:hover {
      background-color: #0b86ca;
    }
  }

  .facebook {
    svg {
      width: 11px;
      height: 14px;
    }

    &:hover {
      background-color: #4c76be;
    }
  }

  .twitter {
    svg {
      width: 15px;
      height: 12px;
    }

    &:hover {
      background-color: #00c7ff;
    }
  }

  .flickr {
    svg {
      width: 15px;
      height: 13px;
    }

    &:hover {
      background-color: #ff0084;
    }
  }

  .youtube {
    svg {
      width: 25px;
      height: 15px;
      margin-left: 2px;
    }

    &:hover {
      background-color: red;
    }
  }
}