form {
  .field {
    margin-bottom: 30px;

    input,textarea::-webkit-input-placeholder {
      font-weight: 600;
      font-size: 14px;
      line-height: 9px;
      color: #0B0B0B;
    }

    ::-moz-placeholder {
      font-weight: 600;
      font-size: 14px;
      line-height: 9px;
      color: #0B0B0B;
    }

    :-ms-input-placeholder {
      font-weight: 600;
      font-size: 14px;
      line-height: 9px;
      color: #0B0B0B;
    }

    ::-webkit-input-placeholder {
      font-weight: 600;
      font-size: 14px;
      line-height: 9px;
      color: #0B0B0B;
    }

    ::placeholder {
      font-weight: 600;
      font-size: 14px;
      line-height: 9px;
      color: #0B0B0B;
    }

    input,textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid #0B0B0B;
    }
  }
}