.header {
  direction: ltr;
  background-color: transparent;
  position: fixed;
  width: calc(100% - 80px);
  z-index: 100;

  nav.navbar {
    width: 100%;
    padding: 0;

    .navbar-nav {
      a.nav-link {
        padding-left: 43px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #0B0B0B;
      }
    }
  }
}