#layout-container {
  min-height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;

  .sidebar {
    width: 80px;
    writing-mode: tb-rl;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FAF8F6;
    box-shadow: -1px 0px 14px rgba(0, 0, 0, 0.150131);

    span.cta {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #0B0B0B;
      transform: rotate(180deg);
      transition: transform 1s ease-in-out;
      padding-bottom: 32px;
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 4px;
        background-image: url("../img/icon.svg");
        width: 16px;
        height: 16px;
        transform: rotate(90deg);
        top: 90px;
      }
    }
  }

  .main-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
  }
}

.home-banner {
  background-image: url("../img/home-banner.jpg");
  padding: 199px 0;
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;

  &__cta {
    background: #48DAA2;
    box-shadow: 0px 0px 30px rgba(72, 218, 162, 0.499208);
    border-radius: 2px;
    padding: 73px 40px 83px;

    &--title {
      font-weight: bold;
      font-size: 38px;
      line-height: 48px;
      color: #FFFFFF;
      margin-bottom: 50px;
    }
  }
}

.about {
  padding: 103px 0 42px;
  position: relative;
  overflow-x: hidden;

  &__stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 100%;
    padding: 30px 0;

    &--item {
      flex: 0 0 50%;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .stat-num {
        display: block;
        margin: 0 auto 15px;
        font-weight: 900;
        font-size: 90px;
        line-height: 72px;
        color: #00DCA8;
      }

      .stat-desc {
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        color: #0B0B0B;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.position {
  position: absolute;
  right: -100px;
  top: 0;
  font-weight: 900;
  font-size: 230px;
  line-height: 289px;
  color: #48DAA2;
  opacity: 0.15;
  z-index: -1;

  &.left-pos {
    right: unset;
    left: -300px;
    top: -40px;
  }
}

.values {
  position: relative;
  padding-bottom: 150px;

  &__content {
    width: 100%;
    position: relative;

    &--center {
      border: 3px dashed #48DAA2;
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 570px;
      min-height: 570px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      border-radius: 50%;

      h3 {
        display: none;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        color: #0B0B0B;
        max-width: 360px;
        margin: 0 auto;
      }

      img {
        margin-bottom: 28px;
      }
    }

    &--item {
      position: absolute;

      &:nth-child(2) {
        right: 35px;
        top: 160px;

        h3 {
          &::before {
            left: -50px;
          }
        }
      }

      &:nth-child(3) {
        right: 395px;
        bottom: -45px;

        h3 {
          &::before {
            top: -27px;
            left: -25px;
          }
        }
      }

      &:nth-child(4) {
        left: 75px;
        top: 400px;

        h3 {
          &::before {
            left: unset;
            right: -36px;
          }
        }
      }

      h3 {
        cursor: pointer;
        position: relative;
        max-width: 270px;

        &::before {
          content: '';
          position: absolute;
          background: #48DAA2;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          left: 0;
          top: 0;
        }

        &:hover {
          color: #48DAA2;
        }
      }

      img,
      p {
        display: none;
      }
    }
  }
}

.services {
  position: relative;
  padding: 40px 0 137px;
  overflow-x: hidden;

  .box {
    position: relative;
    height: 100%;

    &::after {
      counter-increment: my-sec-counter;
      content: "0" counter(my-sec-counter);
      font-weight: 900;
      font-size: 26px;
      line-height: 33px;
      color: #0B0B0B;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__item {
    background: #48DAA2;
    padding: 40px 30px;
    height: 100%;
    clip-path: url(#myPath);

    h3 {
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
      color: #0B0B0B;
    }
  }
}